:root {
    --backgroundColor: #f0f0f2;
    --disabledColor: #3b3b3b;
    --primaryColor: #797979;
    --successColor: #2d7c2e;
    --warningColor: #d48b20;
    --dangerColor: #c23228;
    --activeColor: #87cefa;
}

body {
    box-sizing: border-box;
    padding: 50px 20px;
    font-size: 14px;
    font-family: 'Idealist Sans', sans-serif;
    text-align: center;
    width: 100%;
    background-color: var(--backgroundColor);
}

.app-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.label {
    margin-top: 40px;
}

.btn-container {
    margin: 20px 0;
    width: 100%;
}

.controls-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    height: 50px;
}

.choices-wrapper {
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.btn {
    all: initial;
    border: 1px solid;
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: 100%;
    word-break: break-all;
    text-overflow: ellipsis;
    color: white;
    font-size: 18px;
}

.txt-input {
    font-size: 18px;
    width: 90%;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid;
    border-color: var(--primaryColor);
    border-radius: 10px;
}

.btn:disabled {
    background-color: var(--disabledColor);
    border-color: var(--disabledColor);
    pointer-events: none;
}

.btn:active {
    outline: none;
    box-shadow: 0 0 0 3px var(--activeColor);
}

.success {
    background-color: var(--successColor) !important;
    border-color: var(--successColor);
    color: white;
}

.danger {
    background-color: var(--dangerColor) !important;
    border-color: var(--dangerColor);
    color: white;
}

.warning {
    background-color: var(--warningColor) !important;
    border-color: var(--warningColor);
}
